:root {
  --color-primary: #034EA2;
  --color-secondary: #f58220;
  /* ... */
}

@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

.text-shadow {
    text-shadow: 0 2px 4px rgba(0,0,0,0.10);
  }