:root {
  --color-primary: #5c6ac4;
  --color-secondary: #ecc94b;
  /* ... */
}

@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

@layer base {
  @font-face {
    font-family: 'orbitronblack';
    src: url('https://cdn.jsdelivr.net/gh/jmichaelsgast/gg_tailstyle/frontend/orbitron-black-webfont.woff') format("woff");
  }
}